@inherits LayoutComponentBase


<div class="page">
    @* <div class="sidebar">
        <HomeNavMenu/>
    </div> *@

    <main>
        <div class="top-row px-4">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Home</a>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Sign Up</a>
             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Sign In</a>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@

            <div class="col-md-4"><img src="_content/EduJuniorChildSecurity.Shared/images/edujuniorlogoblack.png" style="width:170px; height:50px;"  alt="edujunior logo"/></div>
            <div class="col-md-4"> <button class="btn btn-primary">About</button>  <button class="btn btn-primary">Register</button>  </div>
            <div class="col-md-4"></div>
       
            
        
            
        </div>

        <article class="content px-4" style="background-color:steelblue">
            @Body
        </article>
    </main>
</div>


@inject NavigationManager Navigation
@code {
    string baseUri => Navigation.BaseUri;
    
}